target
*.iml
*.ipr
.idea
.classpath
.settings
.project
*/.project
**/.project
**/.settings
*/.settings
**/.classpath
**/.checkstyle
.checkstyle
assets/**
!assets/goog_signin.html
!assets/sample.html
**/*.pid
