/**
* @Author: gajo
* @Date:   2016-06-24T21:51:44-07:00
* @Last modified by:   gajo
* @Last modified time: 2016-08-15T00:05:52-07:00
*/

.playlistItem {
  border: solid red 1px;
}

.leftbox_big {
  font-size: 1.6em;
  position: relative;
  float: left;
}

.rightbox {
  position: relative;
  float: right;
}

.thumbwrap {
  clear: both;
  display: inline-block;
  height: 100%;
}

.vidtitle {
  height: 48px;
  width: 120px;
}

.pagetokenwrap {
  clear: both;
}

.thumbitem {
  border: gray solid 1px;
  background-color: #FFF;
  font-size: 0.7em;
  position: relative;
  float: left;
  text-align: left;
  height: 140px;
  overflow: hidden;
}

.borderitem {
  border: blue solid 1px;
  background-color: gray;
  font-size: 0.7em;
  position: relative;
  float: left;
  text-align: left;
  height: 140px;
  overflow: hidden;
}

.vidctrlwrap {
  position: absolute;
  bottom: 0;
  left: 0;
}

.topbar {
  color: inherit;
}
