/**
* @Author: gajo
* @Date:   2016-07-19T09:50:11-07:00
* @Last modified by:   gajo
* @Last modified time: 2016-07-19T16:19:55-07:00
*/

.addListOfVideos {
  border: solid;
  display: inline-block;
}
